<center >
	<font face = "Georgia">
	<br>
	<h2><center><span style="color:red">Congratulations !</span></center></h2>

	We are glad to inform you that your college "|*College_Name*|" has been  <b> Approved</b> by University Grant Commission.<br><br>
	For Further Notification please do visit <a href ="http://localhost/ugcdashboard/login.php">Click here!!</a>


	 </font>
	</center>
